<!DOCTYPE html>
<html data-bs-theme="light" lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Padel Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ag-grid.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
</head>
<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
                    <div class="container-fluid">
                        <a class="navbar-brand fw-bold" href="/">Padel Tracker</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/joueur">Track ton joueur</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/liste_joueurs_custom">Liste des joueurs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="container-fluid mt-3">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Classement des joueurs</p>
                        </div>
                        <div class="card-body">
                            <div class="ag-theme-quartz" id="myGrid" style="width: 100%; height: 650px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Padel Tracker 2024</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/script.min.js?h=4d952d21517087db850f0bbc41a815ca"></script>
    <script>
        // Fonction d'initialisation pour charger les données et créer la grille
        function initializeGrid() {
            // Charger les données depuis le fichier JSON
            fetch('static/data/classement_joueurs_padel.json')
                .then(response => response.json())
                .then(data => {
                    // Configurer les options de la grille avec les données chargées
                    const gridOptions = {
                        rowData: data,
                        columnDefs: [
                            { headerName: "Nom", field: "nom", sortable: true, filter: true, minWidth: 120 },
                            { headerName: "Prénom", field: "prenom", sortable: true, filter: true, minWidth: 120 },
                            { headerName: "Rang", field: "rang", sortable: true, filter: true, minWidth: 80 },
                            { headerName: "Points", field: "points", sortable: true, filter: true, minWidth: 80 },
                            { headerName: "Licence", field: "licence", sortable: true, filter: true, minWidth: 100 },
                            { headerName: "Nationalité", field: "nationnalite.code", sortable: true, filter: true, minWidth: 100 },
                            { headerName: "Année", field: "anneeNaissance", sortable: true, filter: true, minWidth: 80 },
                            { headerName: "Club", field: "nomClub", sortable: true, filter: true, minWidth: 150 },
                            { headerName: "Ligue", field: "nomLigue", sortable: true, filter: true, minWidth: 120 },
                            { headerName: "Tournois", field: "nombreDeTournois", sortable: true, filter: true, minWidth: 100 },
                        ],
                        defaultColDef: {
                            flex: 1,
                            sortable: true,
                            resizable: true,
                            filter: true,
                            minWidth: 80, // Largeur minimale par défaut pour toutes les colonnes
                        },
                        pagination: true,
                        paginationPageSize: 100,
                        // Activer le défilement horizontal sur les petits écrans
                        suppressHorizontalScroll: false,
                        
                        // Permettre le redimensionnement automatique des colonnes
                        autoSizeColumns: true,
                        
                        // Ajuster automatiquement la taille des colonnes au chargement initial
                        onGridReady: params => {
                            params.api.sizeColumnsToFit();
                        },
                        
                        // Réajuster la taille des colonnes lors du redimensionnement de la fenêtre
                        onGridSizeChanged: params => {
                            params.api.sizeColumnsToFit();
                        },
                    };

                    // Créer la grille dans l'élément avec id 'myGrid'
                    const gridDiv = document.querySelector('#myGrid');
                    new agGrid.Grid(gridDiv, gridOptions);
                })
                .catch(error => console.error('Erreur lors du chargement des données :', error));
        }

        // Appeler la fonction d'initialisation pour charger les données et créer la grille
        initializeGrid();
    </script>
</body>
</html>
